<html>
    <head>
        <title>James' HAProxy log file parser</title>
        <link type="text/css" rel="stylesheet" href="/haproxy-log-parser.css"/>
    </head>
    <body>
        <form>
            <label for="log-file-line">Line of log file</label>
            <input type="text" id="log-file-line"/>
        </form>
        <div id="output-area"></div>
    </body>
</html>
